<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @village_category.name %>
</p>

<%= link_to 'Edit', edit_village_category_path(@village_category) %> |
<%= link_to 'Back', village_categories_path %>
