<h3>Welcome to the WARVRA Membership program...</h3>
<hr class="style-seven">
<% if user_signed_in? %>
    <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
    <h3>Notices:</h3>
    <hr class="style-one">
    <% @notices.each do |notice| %>
        <h3><%= notice.title %></h3>

        <p><%= notice.notes %></p>
        <hr class="style-one">
    <% end %>

<% else %>
    <p>Please Sign In to continue.</p>
<% end %>
