<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contacts_category.name %>
</p>

<%= link_to 'Edit', edit_contacts_category_path(@contacts_category) %> |
<%= link_to 'Back', contacts_categories_path %>
