<%= simple_form_for(@icat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Save", :class => "btn btn-small btn-primary" %>
  </div>
<% end %>
