<h1>Editing Individual Member</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @individual, :class => "btn btn-small btn-info" %>
<%= link_to 'Back', individuals_path, :class => "btn btn-small btn-info" %>
<hr>