<h1>Editing App Setting</h1>

<%= render 'form' %>

<%= link_to 'Show', @app_setting, :class => "btn btn-small btn-success" %>
<%= link_to 'Back', app_settings_path, :class => "btn btn-small btn-success" %>
<hr>
