<h1>Editing Village</h1>

<%= render 'form' %>

<br>

<%= link_to 'Show', @village, :class => "btn btn-small btn-primary" %>
<%= link_to 'Back', villages_path, :class => "btn btn-small btn-primary" %>
