<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Welcome to our newsletter test email</h2>
<p>
  You have successfully received our April Newsletter<br>
</p>
</body>
</html>