// Example using 'Cerulean' bootswatch

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

// Whatever application styles you have go last
//@import "base";

.btn-primary {
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}

.btn-primary:hover {color:#fff;
    background-color:#0069d9;
    border-color:#165292
}  
