<h1>Editing Associate</h1>

<%= render 'form' %>

<br>

<%= link_to 'Show', @associate, :class => "btn btn-small btn-success" %>
<%= link_to 'Back', associates_path, :class => "btn btn-small btn-info" %>
